<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Name="aurion-ide" Id="*" UpgradeCode="9c09a374-1135-4782-959f-2dec376a1dfa" Language="1033" Codepage="1252" Version="0.4.5" Manufacturer="aurion-ide">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
        <Icon Id="aurion-ide.exe" SourceFile=".\extra\windows\aurion-ide.ico"/>
        <WixVariable Id="WixUILicenseRtf" Value=".\extra\windows\wix\license.rtf"/>
        <Property Id="ARPPRODUCTICON" Value="aurion-ide.exe"/>
        <MediaTemplate EmbedCab="yes"/>
        <UIRef Id="WixUI_Minimal"/>

        <Feature Id="ProductFeature" Title="ConsoleApp" Level="1">
            <ComponentRef Id="aurion-ideExe"/>
            <ComponentRef Id="aurion-ideShortcut"/>
            <ComponentRef Id="ModifyPathEnv"/>
            <ComponentRef Id="ContextMenu"/>
        </Feature>

        <!-- Create directories -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="aurion-ideProgramFiles" Name="aurion-ide"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="aurion-ideProgramMenu" Name="aurion-ide"/>
            </Directory>
        </Directory>

        <!-- Application binaries -->
        <DirectoryRef Id="aurion-ideProgramFiles">
            <Component Id="aurion-ideExe" Guid="*">
                <File Id="aurion-ideExeFile" Source=".\target\release-lto\aurion-ide.exe" Name="aurion-ide.exe" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="aurion-ideProgramMenu">
            <!-- Application shortcut -->
            <Component Id="aurion-ideShortcut" Guid="7d3d3a8e-febb-4759-8eca-873676d5066a">
                <Shortcut Id="aurion-ideShortcutFile" Icon="aurion-ide.exe" Name="aurion-ide" Description="Lightning-fast and Powerful Code Editor" Target="[aurion-ideProgramFiles]aurion-ide.exe"/>
                <RemoveFolder Id="aurion-ideProgramMenu" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\aurion-ide" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="aurion-ideProgramFiles">
            <!-- Add to PATH -->
            <Component Id="ModifyPathEnv" Guid="0581ccb0-5db8-4935-8b07-8f46bc2d7171" KeyPath="yes">
                <Environment Id="PathEnv" Value="[aurion-ideProgramFiles]" Name="PATH" Permanent="no" Part="first" Action="set" System="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="TARGETDIR">
            <!-- Add context menu -->
            <Component Id="ContextMenu" Guid="22ad399b-1d77-416c-ae33-57e8f8511177">
                <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open aurion-ide here\command">
                    <RegistryValue Type="string" Value="[aurion-ideProgramFiles]aurion-ide.exe &quot;%V&quot;" KeyPath="yes"/>
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open aurion-ide here">
                    <RegistryValue Type="string" Name="Icon" Value="[aurion-ideProgramFiles]aurion-ide.exe"/>
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Product>
</Wix>



